/* Inspired by https://math.berkeley.edu/~qchu/
 * and http://bettermotherfuckingwebsite.com 
 * and http://www.catb.org/~esr/ */
body {
     margin      : 15px auto;
     max-width   : 750px;
     line-height : 1.6;
     font-size   : 18px;
     font-family : Arial,sans-serif;
     color       : #333;
     padding     : 0;
     background-image: url("img/background.gif");
}

h2, h3, h4 {
    margin: 0;
}

#header {
    text-align: center;
    color: black;
    margin:15px 0 15px 0;
    padding:15px;
    background-image: url("img/background2.gif");
    border:black 1px solid;
    border-radius: 10px;
}

.content{
    margin-top: 15px;
    padding: 15px;
    background-color: white;
    border:black 1px solid;
    border-radius: 10px;
}

.left_image {
    float: left;
    margin: 15px;
    border: black 1px solid
}

.right_image {
    float: right;
    margin: 15px;
    border: black 1px solid
}

.gallery {
    text-align: center;
    margin-top: 15px;
}

.gallery_image {
    width: 28%;
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
    display: inline-block;
}

img {
    max-height: 100%;
    max-width: 100%;
}

#lightbox {
    position:fixed;
    top:0; left:0;
    width:100%;
    height:100%;
    background:rgba(0, 0, 0, .7);
    text-align:center;
    display:none;
}

#lightbox img {
    position: fixed;
    margin: auto;
    top:0; left:0; right:0; bottom:0;
}

#xbutton {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 30px;
    margin-right: 30px;
    color: #fff;
    font-size: x-large;
    cursor: pointer;
    background-color: Transparent;
    border: white 1px solid;
}

ul.performances{
    margin: 0;
    padding-left: 0px;
    padding-right: 0px;
}

#navtable {
    line-height: 1.6;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
}

#navtable td {
    padding-right: 15px;
}

#cvtable {
    border-spacing: 15px;
    line-height: 1.5;
}

#cvtable th {
    vertical-align: top;
    text-align: right;
}

#cvtable td {
    padding-top: 7px;
    font-size: smaller;
}
